<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
        </tr>
        <tr>
            <td>Michael</td>
            <td>Choi</td>
            <td>Michael Choi</td>
        </tr>
        <tr>
            <td>John</td>
            <td>John Supsupin</td>
            <td>John Supsupin</td>
        </tr>
        <tr>
            <td>Mark</td>
            <td>Guillen</td>
            <td>Mark Guillen</td>
        </tr>
    </table>
</body>
</html>